.Modal .Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1009;
}

.Modal .container {
    display: flex;
    flex-direction: column;
    max-height: 25rem;
    min-height: var(--spacing-42);
    width: 34rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    background-color: white;
    border: 1px solid var(--base-border-color);
    border-radius: 1.5rem;
    padding: 20px;
    position: relative;
    font-weight: 600;
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 100;
    align-content: center;
}

.Modal .header {
    width: 100%;
    display: flex;
    height: 4vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--base-border-color);
}
