.BoardPage {
    display: block;
}

.layout-container {
    justify-content: center;

    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 정렬 */
    align-items: center;
    width: 100%;
}
.BoardPage .content-container{
    max-width: 1000px;
    width: 80%;
}
.navibar-container {
    
}
.board-container {
    justify-content: center;
}
