.BoardPage {
    display: block;
}

.layout-container {
    justify-content: center;

    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 정렬 */
    align-items: center;
    width: 100%;
}
.BoardPage .content-container{
    max-width: 1000px;
    width: 80%;
}

.board-container {
    justify-content: center;
}

.write-button {
    background-color: #3399ff; /* 파란색 */
    border: none;
    border-radius: 8px; /* 모서리 둥글게 */
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    float: right; /* 오른쪽 정렬 */
    margin-bottom: 16px; /* 아래 여백 */
}
.write-button {
    background-color: #3399ff; /* 파란색 */
    border: none;
    border-radius: 8px; /* 모서리 둥글게 */
    color: white;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    float: right; /* 오른쪽 정렬 */
    margin-bottom: 16px; /* 아래 여백 */
}
