.BoardPage {
    display: block;
    min-height: 100vh;
  background-color: var(--background-color);

}

.layout-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.BoardPage .content-container{
    max-width: 1000px;
    width: 80%;
}

.board-container {
    justify-content: center;
    height: 100%;

}


