.MainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.MainPage .Panel-Dashboard-Container {
    margin-top: 80px;
    max-width: 2400px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* 남은 공간을 채우도록 설정 */
    overflow: hidden;
}

.MainPage-Layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}