.MainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;

}


.MainPage .Panel-Dashboard-Container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    /* 남은 공간을 채우도록 설정 */
    overflow: hidden;
}
