.MainPage {
    height: 100%;
    width: 100%;
}

.MainPage .Panel-Dashboard-Container {
    flex-grow: 1;
    min-width: 100vh;
    display: flex;
}

.MainPage .Panel-container {
    width: 280px;
    border-right: 1px solid var(--base-border-color);
}

.MainPage .Dashboard-container {
    flex-grow: 1;
    width: 300px;
    min-width: 150px;
}

/* 반응형 레이아웃 550고정정 */
@media (max-width: 500px) {
    .MainPage .Panel-Dashboard-Container {
        flex-direction: column;
        /* 패널이 위로, 대시보드는 아래로 */
        align-items: center;
        /* 중앙 정렬 */
        overflow-y: auto;
        /* 대시보드에서 세로 스크롤 허용 */
    }

    .MainPage .Panel-container{
        min-width: none;
    }

    .MainPage .Panel-Dashboard-Container>div {
        width: 100%;
        /* 각 요소가 가득 차도록 */
    }
}

