.MyPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.MyPage .container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-y: auto;

}
