.Page {
    display: flex;
    width: 100%;
    height: 100vh;
    min-width: 100px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.left-side{
    background-image: url("/icons/background.png"); 
    width: 100%;
    flex-basis: 130%;
    height: 100%;
    background-repeat: no-repeat; /* 이미지 반복 제거 */
    background-size: cover; /* 화면 크기에 맞게 조정 */
    background-position: center; /* 배경 위치 중앙 정렬 */
}
.right-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 100px;
}

.logo-img{
    width: 120px;
    height: 60px;
}

@media (max-width: 800px) {
    .left-side{
        display: none;
    }
    .Page{
    justify-content: center;
    }
}