.BasicBoard {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--board-shadow-color);
    margin-bottom: 24px;
    border: 1px solid var(--base-border-color);
    height: 100%;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
  }
  
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .post-link{
    display: flex;
    margin-top: 0;
  }

  .basic-post-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .basic-post-item:last-child {
    border-bottom: none;
  }
  
  .basic-post-item a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  
  .basic-post-item a:hover {
    text-decoration: underline;
  }
  
 
.meta {
  margin-left: auto; /* ✅ 오른쪽 끝으로 이동 */
  white-space: nowrap; /* ✅ 줄바꿈 방지 */
}
 
.meta-content {
  font-size: 13px;
  color: #888;
  margin: 0; /* 기본 p 태그 여백 제거 */
}
  
  .BasicBoard a:last-of-type {
    display: block;
    margin-top: 12px;
    text-align: right;
    font-size: 14px;
    color: #333;
    
  }
  
  .BasicBoard a:last-of-type:hover {
    text-decoration: underline;
  }

  .more-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: underline;
  }
  
  .more-link:hover {
    text-decoration: underline;
  }