.BellBox {
    position: relative;
    display: inline-block;
}

.BellBox .notification-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    max-height: 320px;
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
}

.BellBox .notification-dropdown::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 20px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    width: 0;
    height: 0;
    z-index: 11;
}

.BellBox .notification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 12px;
    border-bottom: 1px solid var(--light-border-color);
}

.BellBox .notification-title {
    font-size: var(--font-size-xs);
    font-weight: 500;
    line-height: 20px;
    color: #44474b;
}

.BellBox .read-all-btn {
    font-size: var(--font-size-3xs);
    font-weight: 500;
    color: #9fa4ab;
    line-height: 14px;
    transition: color 0.2s ease;
}

.BellBox .read-all-btn:hover {
    font-weight: 700;
    color: #656a71;
}

.BellBox .notification-area {
    overflow: hidden;
    margin-right: 4px;
}

.BellBox .notification-wrap {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 260px;
    margin-right: calc(4px - 17px);
    padding-right: 0;
}

.BellBox .notification-list {
    padding: 0 4px;
    overflow: hidden;
    border-radius: 0 0 22px 12px;
}

.BellBox .notification-item {
    position: relative;
    display: flex;
    padding: 18px 40px 20px 20px;
}

.BellBox .notification-item + .notification-item {
    border-top: 1px solid var(--light-border-color);
}

.BellBox .unread {
    background-color: #f0f9ff;
}

.BellBox .notification-time {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-3xs);
    font-weight: 500;
    line-height: 14px;
    color: #9fa4ab;
    vertical-align: bottom;
}

.BellBox .notification-content {
    font-size: var(--font-size-2xs);
    font-weight: 500;
    line-height: 22px;
    color: #44474b;
    white-space: pre-line;
}

.BellBox .notification-content:hover {
    font-weight: 700;
    cursor: pointer;
}

.BellBox .notification-delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #9fa4ab;
    transition: color 0.2s ease;
    padding: 3px;
}

.BellBox .notification-delete-btn:hover {
    color: #e11d48;
}

.BellBox .notification-delete-btn svg {
    width: 16px;
    height: 16px;
}

.BellBox .notification-empty {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: var(--font-size-2xs);
    text-align: center;
    font-weight: 500;
    color: #888;
}

@media (max-width: 1023px) {
    .BellBox .notification-dropdown {
        width: 240px;
        max-height: 280px;
    }
    .BellBox .notification-item {
        padding: 16px 36px 18px 18px;
    }
    .BellBox .notification-delete-btn {
        width: 18px;
        height: 18px;
    }
}
