
/* 캘린더 버튼 */

.Calendar-Button {
    background-color: white;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

.calendar-container{
    height: 100%;
    display: flex;
}

.calendar-header{
    position: relative;
    display: flex;
    gap:5px;
    align-items: center;
}


/* react-calendar 스타일 수정 */
.react-calendar {
    overflow-y: auto;  /* 내용이 넘칠 경우 스크롤이 생기도록 설정 */
    margin: 0 auto;  /* 수평 가운데 정렬 */
    border: 1px solid var(--base-border-color);
    border-radius: 6px;
}
.react-calendar__navigation{
    height: 30px;
    margin: 0;
}

/* 날짜 셀의 높이를 줄여서 세로 크기 조정 */
.react-calendar__month-view__weekdays {
    font-size: 15px;  /* 요일 폰트 크기 */
    font-family: 'Arial', sans-serif;
    height: 33px;     /* 요일 셀의 높이 */
}

.react-calendar__month-view__days {
    font-size: 13px;  /* 날짜 셀의 폰트 크기 */
}

.react-calendar__tile {
    padding: 4px;     /* 날짜 셀 안의 여백을 줄여서 세로 길이 조정 */
    font-size: 12px;   /* 날짜 텍스트 크기 */
}

.react-calendar__tile:disabled {
    background-color: transparent
}
