.Dashboard {
    height: 100%;
    min-width: 10px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    margin-top: 50px;
}

.Dashboard .Content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 10px;
    gap: 2%;
    justify-content: center;
}

.Dashboard .main-container {
    display: flex;
    max-width: 1500px;
    width: 100%;
    min-width: 10px;
    flex-direction: column;
    align-content: center;
    gap: 40px;
}

.title-container {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 10px;
}

.Dashboard .div-area {
    display: flex;
    gap: 30px;
    width: 100%;
}

/* ✅ 각 영역 절반 너비 */
.Dashboard .left-half,
.Dashboard .right-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Dashboard h3 {
    color: var(--normal-text-color);
    font-weight: 400;
    font-size: 0.9rem;
}

.lectureCard-section {
    display: flex;
}

.Dashboard .rightside-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    min-width: 10px;
    width: 500px;
    max-width: 400px;
}

.Dashboard .inner-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.Dashboard .board-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.Dashboard .div-container {
    display: flex;
    flex-direction: column;
    min-width: 10px;
    width: 100%;
    gap: 30px;
    height: auto;
}

.Dashboard .half-board-area {
    min-width: 100px;
    height: auto;
}

.Dashboard aside{
    background-color: beige;
}

@media (max-width: 1180px) {
    .Dashboard {
        padding-left: 20px;
    }

    .Dashboard .Content-container {
        gap: var(--medium-screen-gap);
        display: block;
        width: 100%;
    }

    .Dashboard .main-container {
        width: 100%;
        gap: var(--medium-screen-gap);
    }

    .Dashboard .rightside-container {
        width: 100%;
    }

    .Dashboard .info-area {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 760px) {
    .Dashboard {
        padding: var(--small-screen-gap);
    }

    .Dashboard .div-container {
        flex-direction: column;
        gap: var(--small-screen-gap);
    }

    .Dashboard .half-board-area {
        max-width: 100%;
    }
}