.Friends-btn {
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}


.Friends-List {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

.Friends-Item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.add-friend-btn{
    background-size: contain;
    background-color: white;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 6px;
    background-image: url('/icons/add-friend-icon.svg');
    cursor: pointer;
}


.add-friend-btn:hover {
    transform: scale(1.1); /* 약간 커짐 */
}

.add-friend-btn:active {
    background-color: #ccc; /* 클릭 시 더 어두운 회색 */
}

