
.header-container{
    display: flex;
    border-bottom: 1px solid var(--base-border-color);
    position: relative !important;
    background-color: var(--base-point-color);
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    min-width: 300px;
  }

.logout-btn {
  color:black;
  width: 20px;
  height:20px;
  background-color:transparent; 
  border: none;
  cursor: pointer;
  font-size: 13px  /* 폰트 크기 조정 */
}

  .logout-btn:hover {
    text-decoration: underline;
  }
  
  
  .header-space{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }