
.header-container{
    display: flex;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 150;
  }

  
.logout-btn {
  color:black;
  background-color:transparent; 
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px  /* 폰트 크기 조정 */
}

  .logout-btn:hover {
    text-decoration: underline;
  }
  
  
  .header-space{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }