.intro-container {
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 50px;
}

.intro-container .intro {
    font-size: clamp(16px, 3.33vw, 64px);
    font-weight: 600;
    color: white;
}

.intro-sub {
    color: white;
    font-weight: 10;
    font-size: clamp(15px, 1.5vw, 29px);
}
