
.JobInfoBoard{
    min-width: 110px;
    min-height: 100%;
    border: 1px solid var(--base-border-color);
    display: block;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}