.LoginForm {
    display: flex;
    flex-direction: column;
    width: 100%; /* 화면 크기에 맞춰 자동 조정 */
    min-width: 150px; /* 최소 크기 유지 */
    background-color: white;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.LoginForm .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LoginForm .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px; /* 각 필드 간 간격 */
}

.LoginForm label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.LoginForm input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 20px;
    color: #333;
    background-color: var(--background-color);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.LoginForm input:focus {
    border-color: #41bbfc;
    background-color: #fff;
    outline: none;
}

.LoginForm button {
    padding: 12px;
    font-size: 20px;
    color: white;
    background-color: var(--base-blue-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* 버튼의 크기를 100%로 설정하여 중앙 정렬 */
    margin-bottom: 10px; /* 버튼들 간의 간격을 두기 위한 여백 */
    margin-top: 30px;
}

.LoginForm button:hover {
    background-color: #3189d3; /* 버튼 호버 시 색상 */
}

/* 로그인 버튼과 회원가입 버튼을 중앙 정렬 */
.LoginForm .form-group:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm .link-container {
    display: flex;
    font-size: 20px;
    gap: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.LoginForm .link-button {
    text-align: center;
    color: #6e6c6c;
    text-decoration: none;
    font-size: var(--font-size-sm);
    display: block;
    padding: 0 16px;
    min-width: 0;
    flex: 1 1 0;
}

.LoginForm .link-button:hover {
    text-decoration: underline; /* 링크에 호버 효과 추가 */
}

.LoginForm .delim {
    color: #e4e3e3;
    font-size: 18px;
    margin: 0;
    min-width: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 반응형 */
@media (max-width: 767px) {
    .LoginForm {
        padding: 15px;
    }

    .LoginForm h2 {
        font-size: 20px;
    }

    .LoginForm input,
    .LoginForm button {
        font-size: 14px;
    }
}
