.MailBox{
    position: relative;

}
.mail-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 2px;
    background-color: #e8e6e6;
    cursor: pointer;
}

.mail-btn:hover {
    opacity: 0.5;
}
