.MainBanner {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.MainBanner:hover {
    transform: translateY(-3px);
}

.MainBanner .thumbnail {
    max-width: 180px;
    min-width: 180px;
    overflow: hidden;
    background-color: #ccc;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.MainBanner .descript {
    width: 100%;
    padding: 16px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* 제목 */
.MainBanner .banner-title {
    font-size: 1.2rem;   /* 크게 */
    font-weight: 700;    /* 두껍게 */
    color: #222;
    margin: 0 0 8px 0;
    line-height: 1.4;
}

/* 내용 */
.MainBanner .banner-description {
    font-size: 0.9rem;   /* 조금 작게 */
    color: #555;         /* 회색 톤 */
    margin: 0;
    line-height: 1.5;
}

/* 링크 */
.MainBanner .banner-link {
    margin-top: 10px;

}

.MainBanner .banner-link a {
    font-size: 0.9rem;
    font-weight: 600;
   
    text-decoration: none;
    color: #0056b3;

    transition: color 0.2s ease;
}

.MainBanner .banner-link a:hover {
    color: #002a57;
    text-decoration: underline;
}
