.Panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 80px;
    height: calc(100vh - 80px);
    z-index: 50;
    min-width: 300px;
    gap: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    position: fixed;
    

}


.link-mypage{
    font-size: 17px;
    font-weight: 1000;
    text-decoration: none;
    color: black;

}
.link-mypage:hover {
    text-decoration: underline;
  }


.Panel hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 12px 0;
}

.profile-btn {
    background-image: url("/icons/profile.png");
    height: 40px;
    width: 40px;
    border-radius: 50%;

}