.ProfileTemplate {
  display: inline-block;
}

.ProfileTemplate__search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.ProfileTemplate__profile-img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.ProfileTemplate__profile-name {
  font-weight: bold;
}

.ProfileTemplate__profile-name:hover {
  text-decoration: underline;
}
