.Reddot {
    background-color: var(--red-dot-color);
    width: 16px;
    height: 16px;
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    border-radius: 50% !important;
}

.Reddot .content {
    font-size: 10px;
    font-weight: 700 !important;
    color: white;
}
