.RegisterForm {
    display: flex;
    flex-direction: column;
    width: 100%;  /* 화면 크기에 맞춰 자동 조정 */
    min-width: 150px; /* 최소 크기 유지 */
    background-color: white;
    align-content: center;
    justify-content: center;
    gap: 10px;
}


.RegisterForm .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RegisterForm .form-group {
    display: flex;
    flex-direction: column;
}

.RegisterForm label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.RegisterForm input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 20px;
    color: #333;
    background-color: var(--background-color);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.RegisterForm input:focus {
    border-color: #41bbfc;
    background-color: #fff;
    outline: none;
}

.RegisterForm button {
    padding: 12px;
    font-size: 20px;
    color: white;
    background-color: var(--base-blue-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 16px;
}

.RegisterForm button:hover {
    background-color: #3189d3;
    /* 버튼 호버 시 색상 */
}

/* 로그인 버튼과 회원가입 버튼을 중앙 정렬 */
.RegisterForm .form-group:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterForm .link-button {
    text-align: center;
    color: #6e6c6c;
    text-decoration: none;
    font-size: var(--font-size-sm);
    display: block;
}

.RegisterForm .link-button:hover {
    text-decoration: underline;
    /* 링크에 호버 효과 추가 */
}


.RegisterForm .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}



.RegisterForm button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* 반응형 */
@media (max-width: 400px) {
    .RegisterForm {
        padding: 15px;
    }

    .RegisterForm h2 {
        font-size: 20px;
    }

    .RegisterForm input,
    .RegisterForm button {
        font-size: 14px;
    }
}