.reset-pw-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--spacing-64);
    margin: 0 auto;
    line-height: 1.5;
}

.reset-pw-box .title {
    margin-bottom: var(--spacing-1-5);
    color: #001e40;
    font-size: var(--font-size-sm);
    font-weight: 700;
}

.reset-pw-box .caption {
    margin-bottom: var(--spacing-6);
    color: #7b90a6;
    font-size: var(--font-size-2xs);
}

.reset-pw-box .input-field {
    display: flex;
    flex-direction: column;
}

.reset-pw-box .input-field label {
    margin-bottom: 2px;
    color: #7b90a6;
    font-size: var(--font-size-3xs);
    font-weight: 600;
}

.reset-pw-box .input-field input {
    border: 1px solid #ddd;
    width: 100%;
    height: var(--spacing-8);
    padding: var(--spacing-2);
    background: var(--background-color);
    border-radius: 0.375rem;
    font-size: var(--font-size-2xs);
    line-height: 2.375;
    transition: var(--transition-input-focus);
}

.reset-pw-box .input-field input:focus {
    border-color: var(--focus-border-color);
    background-color: #fff;
    outline: none;
}

.reset-pw-box .input-field .input-error {
    border-color: var(--error-color);
    background-color: var(--error-bg-color);
}

.reset-pw-box button[type="submit"] {
    width: 100%;
    height: var(--spacing-10);
    margin-top: var(--spacing-6);
    font-size: var(--font-size-xs);
    border-radius: 0.375rem;
    padding: var(--spacing-2);
    color: white;
    background-color: var(--active-button-color);
    transition: var(--transition-bg-color);
}

.reset-pw-box button[type="submit"]:disabled {
    background-color: var(--base-blue-color);
}

.reset-pw-box .error-message {
    margin-top: 2px;
    padding-left: var(--spacing-1-5);
    color: var(--error-color);
    font-size: var(--font-size-3xs);
}

.reset-pw-box .timer-resend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.reset-pw-box .resend-btn {
    color: #4a90e2;
    font-size: var(--font-size-3xs);
    text-decoration: underline;
    transition: color 0.2s ease;
}

.reset-pw-box .resend-btn:hover {
    color: #357abd;
}