<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="BD_table">
        <table>
            <caption>제어자동화공학부 공지사항 게시판의 작성자 강군호씨가 2025.05.27에 등록한 2025 제10회 대한임베디드공학회 ICT 대학생 논문경진대회 개최 알림 의 상세페이지입니다.
            </caption>
            <colgroup>



            </colgroup>
            <tbody>


                <tr>
                    <th scope="col" colspan="4" class="title">2025 제10회 대한임베디드공학회 ICT 대학생 논문경진대회 개최 알림 </th>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td>

                        인공지능공학부
                    </td>
                    <th scope="row">등록일</th>







                    <td>2025.05.27</td>



                </tr>
                <tr>
                    <td colspan="4">













                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 14.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -14.6pt;">
                            1. 공학교육혁신센터에서는 <span style="letter-spacing: 0pt;">2020</span>학년도부터 <span
                                style="font-weight: bold;">대한임베디드공학회 부산지부</span><span
                                style="letter-spacing: 0pt; font-weight: bold;">, </span><span
                                style="font-weight: bold;">부경대학교 전자정보통신연구소와 공동 주관으로 </span><span
                                style="letter-spacing: 0pt; font-weight: bold;">
                                <ICT </span><span style="font-weight: bold;">대학생 논문경진대회</span><span
                                        style="letter-spacing: 0pt; font-weight: bold;">></span><span
                                        style="font-weight: bold;">를 개최하고 있습니다</span><span
                                        style="letter-spacing: 0pt; font-weight: bold;">. </span><span
                                        style="font-weight: bold;">관심 있는 학생들은 참가하시기 바랍니다.&nbsp;</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            &nbsp; </p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            <span style="letter-spacing: 0pt;">2. </span>대회 요강</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            가<span style="letter-spacing: 0pt;">. </span>투고분야<span style="letter-spacing: 0pt;">:
                                [</span>붙임<span style="letter-spacing: 0pt;">1] </span>참고</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            나<span style="letter-spacing: 0pt;">. </span>제출마감<span style="letter-spacing: 0pt;">:
                                2025</span>년 <span style="letter-spacing: 0pt;">6</span>월 <span
                                style="letter-spacing: 0pt;">13</span>일<span style="letter-spacing: 0pt;">(</span>금<span
                                style="letter-spacing: 0pt;">)</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            다<span style="letter-spacing: 0pt;">. </span>참여대상<span style="letter-spacing: 0pt;">:
                            </span>전국 대학생 및 대학원생</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            라<span style="letter-spacing: 0pt;">. </span>접수방법<span style="letter-spacing: 0pt;">:
                                [</span>붙임<span style="letter-spacing: 0pt;">1]</span>포스터 <span
                                style="letter-spacing: 0pt;">QR</span>코드 참고하여 <span
                                style="letter-spacing: 0pt;">[</span>붙임<span style="letter-spacing: 0pt;">2] </span>논문
                            양식을 사용하여 제출</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            마<span style="letter-spacing: 0pt;">. </span>논문분량<span style="letter-spacing: 0pt;">:
                                3</span>페이지 이내 작성</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            바<span style="letter-spacing: 0pt;">. </span>발표형식<span style="letter-spacing: 0pt;">:
                            </span>구두발표 혹은 포스터 발표</p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);">
                            &nbsp; </p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            <span style="letter-spacing: 0pt;">3. </span>보다 자세한 사항은 <span
                                style="letter-spacing: 0pt;">[</span>붙임<span style="letter-spacing: 0pt;">1]</span>을
                            참고하시기 바랍니다<span style="letter-spacing: 0pt;">.</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            <span style="letter-spacing: 0pt;">- </span>기타사항<span style="letter-spacing: 0pt;">:
                                Ocean-CTS </span>등록을 위하여 <span style="font-weight: bold;">대표학생들은 </span><span
                                style="letter-spacing: 0pt; font-weight: bold;">[</span><span
                                style="font-weight: bold;">붙임</span><span
                                style="letter-spacing: 0pt; font-weight: bold;">3]</span><span
                                style="font-weight: bold;">을 작성하여 공학교육혁신센터</span><span
                                style="letter-spacing: 0pt; font-weight: bold;">(</span><a
                                href="mailto:icee@kmou.ac.kr"><u><span
                                        style="letter-spacing: 0pt; font-weight: bold; color: rgb(0, 0, 255);">icee@kmou.ac.kr</span></u></a><span
                                style="letter-spacing: 0pt; font-weight: bold;">)</span><span
                                style="font-weight: bold;">로 제출</span>해주시기 바랍니다<span
                                style="letter-spacing: 0pt;">.</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            &nbsp; </p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            &nbsp; </p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            붙임 <span style="letter-spacing: 0pt;">1. 2025 ICT </span>대학생 논문 경진 대회<span
                                style="letter-spacing: 0pt;">(</span>포스터<span style="letter-spacing: 0pt;">)
                                1</span>부<span style="letter-spacing: 0pt;">.</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            &nbsp; &nbsp; &nbsp;<span style="letter-spacing: 0pt;">2. 2025 ICT </span>대학생 논문 경진 대회<span
                                style="letter-spacing: 0pt;">(</span>논문양식<span style="letter-spacing: 0pt;">)
                                1</span>부<span style="letter-spacing: 0pt;">.</span></p>
                        <p class="0"
                            style="line-height: 160%; margin: 0pt 5pt 0pt 21.6pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-indent: -21.6pt;">
                            &nbsp; &nbsp; &nbsp;<span style="letter-spacing: 0pt;">3. 2025 ICT </span>대학생 논문 경진 대회
                            참가양식<span style="letter-spacing: 0pt;">(Ocean-CTS </span>등록용<span
                                style="letter-spacing: 0pt;">) 1</span>부<span
                                style="letter-spacing: 0pt;">.&nbsp;</span></p>
                        <div id="hwpEditorBoardContent" class="hwp_editor_board_content" data-hjsonver="1.0"
                            data-jsonlen="16233"></div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <th scope="row">첨부파일</th>
                    <td colspan="3">
                        <ul class="file">

                            <li><a href="/common/nttFileDownload.do?fileKey=1f74c2ce4f03696e41fabfa9dac6294c">2025 ICT
                                    대학생 논문 경진 대회(논문양식).hwp</a></li>

                            <li><a href="/common/nttFileDownload.do?fileKey=0021eb035ff310685d8e43845c4ada9b">2025 ICT
                                    대학생 논문 경진 대회 참가양식(Ocean-CTS 등록용).xlsx</a></li>

                            <li><a href="/common/nttFileDownload.do?fileKey=cd34744f39543e8f08c5f87b23be945a">2025 ICT
                                    대학생 논문 경진 대회(포스터).pdf</a></li>

                        </ul>
                    </td>
                </tr>







            </tbody>
        </table>
    </div>

</body>

</html>