


.CommentBox{
    display: flex;
    gap: 10px;
    width: 100%;
}

.comment-like-button {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  margin-left: auto;
}


.CommentBox .profile-content-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment-date {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}
.anonymous-nickname {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}