html {
    font-size: 100%;
}

:root {
    --base-blue-color: #82bbfc; /* 로그인 페이지 테마 색 */
    --point-text-color-blue: #0969da;
    --point-green: #1f883d;
    --point-focus-green: #1a7f37;
    --focus-border-color: #41bbfc;
    --active-button-color: #3189d3;

    --base-border-color: #d1d9e0; /* 회색 경계선 색 */
    --light-border-color: #e7e8ea;

    --base-point-color: #f6f8fa;
    --board-shadow-color:
        0px 1px 1px 0px #25292e1a, 0px 1px 6px 0px #25292e1f; /* 게시판 그림자 */
    --red-dot-color: #f56565;

    --background-color: #fafafa;
    --normal-text-color: #59636e;

    --hover-gray-color: #e2e8f0;

    --error-color: #ee5f5f;
    --error-bg-color: #fff5f5;

    --transition-input-focus:
        border-color 0.3s ease, background-color 0.3s ease;
    --transition-bg-color: background-color 0.3s ease;

    /* 반응형 변수 */
    --medium-screen-gap: 15px;
    --small-screen-gap: 8px;

    /* 폰트 사이즈 - 모바일 */
    --font-size-3xs: 0.75rem; /* 12px */
    --font-size-2xs: 0.75rem; /* 12px */
    --font-size-xs: 0.813rem; /* 13px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 3rem; /* 48px */

    /* 스페이싱 - 모바일 */
    --spacing-1-5: 0.375rem; /* 6px */
    --spacing-2: 0.5rem; /* 8px */
    --spacing-2-5: 0.625rem; /* 10px */
    --spacing-3: 0.75rem; /* 12px */
    --spacing-4: 1rem; /* 16px */
    --spacing-6: 1.5rem; /* 24px */
    --spacing-8: 2rem; /* 32px */
    --spacing-10: 2.5rem; /* 40px */
    --spacing-64: 16rem; /* 256px */
}

/* 태블릿 크기 */
@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --font-size-3xs: 0.688rem; /* 11px */
        --font-size-2xs: 0.813rem; /* 13px */
        --font-size-xs: 0.938rem; /* 15px */
        --font-size-sm: 1rem; /* 16px */
        --font-size-base: 1.125rem; /* 18px */
        --font-size-lg: 1.25rem; /* 20px */
        --font-size-xl: 1.5rem; /* 24px */
        --font-size-2xl: 1.875rem; /* 30px */
        --font-size-3xl: 2.25rem; /* 36px */
        --font-size-4xl: 2.5rem; /* 40px */
        --font-size-5xl: 3.5rem; /* 56px */

        --spacing-1-5: 0.5rem; /* 8px */
        --spacing-2: 0.625rem; /* 10px */
        --spacing-2-5: 0.75rem; /* 12px */
        --spacing-3: 0.875rem; /* 14px */
        --spacing-4: 1.25rem; /* 20px */
        --spacing-6: 1.75rem; /* 28px */
        --spacing-8: 2.25rem; /* 36px */
        --spacing-10: 2.75rem; /* 44px */
        --spacing-64: 18rem; /* 288px */
    }
}

/* 데스크탑 크기 */
@media (min-width: 1024px) {
    :root {
        --font-size-3xs: 0.75rem; /* 12px */
        --font-size-2xs: 0.875rem; /* 14px */
        --font-size-xs: 1rem; /* 16px */
        --font-size-sm: 1.125rem; /* 18px */
        --font-size-base: 1.25rem; /* 20px */
        --font-size-lg: 1.5rem; /* 24px */
        --font-size-xl: 1.75rem; /* 28px */
        --font-size-2xl: 2.25rem; /* 36px */
        --font-size-3xl: 2.75rem; /* 44px */
        --font-size-4xl: 3.25rem; /* 52px */
        --font-size-5xl: 4rem; /* 64px */

        --spacing-1-5: 0.625rem; /* 10px */
        --spacing-2: 0.75rem; /* 12px */
        --spacing-2-5: 0.875rem; /* 14px */
        --spacing-3: 1rem; /* 16px */
        --spacing-4: 1.5rem; /* 24px */
        --spacing-6: 2rem; /* 32px */
        --spacing-8: 2.5rem; /* 40px */
        --spacing-10: 3rem; /* 48px */
        --spacing-64: 20rem; /* 320px */
    }
}

.body-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (hover: none) {
    button,
    img {
        -webkit-tap-highlight-color: transparent;
        transition: none;
    }

    button:hover,
    button:active,
    button:focus,
    img:hover,
    img:active,
    img:focus {
        background-color: transparent !important;
        outline: none;
    }
}
