html {
    font-size: 100%;
}

:root {
    --base-blue-color: #82bbfc; /* 로그인 페이지 테마 색 */
    --point-text-color-blue: #0969da;
    --point-green: #1f883d;
    --point-focus-green: #1a7f37;

    --base-border-color: #d1d9e0; /* 회색 경계선 색 */
    --light-border-color: #e7e8ea;

    --base-point-color: #f6f8fa;
    --board-shadow-color: 0px 1px 1px 0px #25292e1a, 0px 1px 6px 0px #25292e1f; /* 게시판 그림자 */
    --red-dot-color: #f56565;

    --background-color: #fafafa;
    --normal-text-color: #59636e;

    /* 반응형 변수 */
    --medium-screen-gap: 15px;
    --small-screen-gap: 8px;

    /* 폰트 사이즈 - 모바일 */
    --font-size-2xs: 0.75rem; /* 12px */
    --font-size-xs: 0.813rem; /* 13px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 3rem; /* 48px */
}

/* 태블릿 크기 */
@media (min-width: 768px) {
    :root {
        --font-size-2xs: 0.75rem; /* 12px */
        --font-size-xs: 0.875rem; /* 14px */
        --font-size-sm: 1rem; /* 16px */
        --font-size-base: 1.125rem; /* 18px */
        --font-size-lg: 1.25rem; /* 20px */
        --font-size-xl: 1.5rem; /* 24px */
        --font-size-2xl: 1.875rem; /* 30px */
        --font-size-3xl: 2.25rem; /* 36px */
        --font-size-4xl: 2.5rem; /* 40px */
        --font-size-5xl: 3.5rem; /* 56px */
    }
}

/* 데스크탑 크기 */
@media (min-width: 1024px) {
    :root {
        --font-size-2xs: 0.875rem; /* 14px */
        --font-size-xs: 1rem; /* 16px */
        --font-size-sm: 1.125rem; /* 18px */
        --font-size-base: 1.25rem; /* 20px */
        --font-size-lg: 1.5rem; /* 24px */
        --font-size-xl: 1.75rem; /* 28px */
        --font-size-2xl: 2.25rem; /* 36px */
        --font-size-3xl: 2.75rem; /* 44px */
        --font-size-4xl: 3.25rem; /* 52px */
        --font-size-5xl: 4rem; /* 64px */
    }
}

.body-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}