@import "./styles/fonts.css";

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /*지우지마마*/
    font-family: Pretendard, "Noto Sans KR", sans-serif;
    font-size: var(--font-size-base);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal; /* 공백을 유지하면서 줄바꿈 */
}

/* 스크린 리더 속성 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
