html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /*지우지마마*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    white-space: normal; /* 공백을 유지하면서 줄바꿈 */
}

